---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Card from "../components/Card.astro";
import Projects from "../components/Projects.astro";
import Tailwind from "../components/ICONS/Tailwind.astro";
import CSS from "../components/ICONS/CSS.astro";
import Javascript from "../components/ICONS/Javascript.astro";
import HTML from "../components/ICONS/HTML.astro";
import AstroIcon from "../components/ICONS/AstroIcon.astro";
import SASS from "../components/ICONS/SASS.astro";
import Skills from "../components/Skills.astro";

const socialMedias = {
  Gmail: "juanp4blog@gmail.com",
  LinkedIn: "linkedin.com/JuanP4bl0",
  Github: "github.com/JuanP4blo",
  Twitter: "https://twitter.com/JuanP4bl0G",
};
---

<Layout title="JuanP4bl0 Portfolio.">
  <Container>
    <section class="flex text-center align-middle items-center">
      <img
        src="/IMGS/Logo.jpg"
        alt="Logo"
        class="w-24 rounded-full object-cover object-center"
      />
      <h1 class="pl-4 text-xl font-Raleway font-bold dark:text-white">
        Hey, Soy Juan Pablo
      </h1>
    </section>
    <p class="text-md w-2xl py-2 text-balance dark:text-white mb-7 mt-7">
      Desarrollador frontend con experiencia en crear paginas web atractivas y
      funcionales , que tiene como objetivo conectar con la audiencia de la
      mejor forma y directa posible, Siempre en busca de nuevas oportunidades y
      desafios en el mundo del diseño y desarrollo web.
    </p>
    <Card />
    <section id="Proyects" class="flex gap-4 align-middle items-center">
      <i
        class="fa-solid fa-diagram-project text-xl mt-5 mb-5 font-bold uppercase dark:text-white"
      ></i>
      <h3
        class="text-xl mt-5 mb-5 font-bold uppercase font-Raleway dark:text-white"
      >
        Projectos
      </h3>
    </section>
    <div class="grid grid-cols-1 lg:grid lg:grid-cols-1">
      <Projects
        src="/IMGS/Projects/Dela.webp"
        alt="Preview of a first project"
        title="Dela Flowers"
        body="Es más que una simple página web, es un espacio donde la pasión por el crochet se transforma en arte en miniatura. Te invitamos a descubrir un universo tejido con amor, donde cada Amigurumi cobra vida con dedicación y cuidado"
        code="https://github.com/JuanP4bl0/Dela-Flowers"
        preview="https://dela-flowers.vercel.app/"
      >
        <AstroIcon />
        <SASS />
      </Projects>

      <Projects
        src="/IMGS/Projects/Spooky.webp"
        alt="Preview of a second project"
        title="Spooky Fest"
        body="La plataforma que te guiará por un Halloween sin igual. Explora una amplia gama de eventos, desde fiestas temáticas hasta casas embrujadas, filtra por categoría y ubicación para encontrar experiencias a tu medida. Obtén toda la información: fechas, precios, requisitos y detalles para una planificación perfecta."
        code="https://github.com/JuanP4bl0/Halloween-Festival"
        preview="https://spookyfest.vercel.app/"
      >
        <AstroIcon />
        <SASS />
      </Projects>

      <Projects
        src="/IMGS/Projects/Hexa.webp"
        alt="Preview of a third project"
        title="Hexadecimal Color"
        body=" la plataforma que te permite convertir tu visión en color. Elige un color de la forma más intuitiva: desliza tu dedo por la paleta interactiva, y te dara el codigo hexadecimal , ideal para diseñadores, artistas, desarrolladores web y amantes de los colores."
        code="https://github.com/JuanP4bl0/HexColor"
        preview="https://hexadecimal-color.vercel.app/"
      >
        <HTML />
        <CSS />
      </Projects>

      <Projects
        src="/IMGS/Projects/Portfolio.webp"
        alt="Preview of four project"
        title="Portfolio"
        body="Adéntrate en una selección de mis proyectos más relevantes. Abarcando una amplia gama de sectores, mi portfolio te ofrece una visión integral de mi experiencia y capacidad para brindar soluciones de alta calidad."
        code="https://github.com/JuanP4bl0/Portfolio-V3"
        preview="https://portfoliojp.vercel.app/"
      >
        <AstroIcon />
        <Tailwind />
      </Projects>
    </div>

    <section id="Skills" class="flex gap-4 align-middle items-center">
      <i
        class="fa-solid fa-address-card text-xl mt-5 mb-5 font-bold uppercase dark:text-white"
      ></i>
      <h3
        class="text-xl mt-5 mb-5 font-bold uppercase font-Raleway dark:text-white"
      >
        Skills
      </h3>
    </section>
    <Skills />

    <section id="About-me" class="flex gap-4 align-middle items-center">
      <i
        class="fa-solid fa-address-card text-xl mt-5 mb-5 font-bold uppercase dark:text-white"
      ></i>
      <h3
        class="text-xl mt-5 mb-5 font-bold uppercase font-Raleway dark:text-white"
      >
        Sobre mi
      </h3>
    </section>

    <div class="flex flex-col-reverse">
      <div class="p-2">
        <p class="dark:text-white text-md pb-3 text-pretty w-full mt-7">
          Me llamo Juan Pablo, y soy un joven desarrollador web de 18 años
          apasionado por la tecnología. Desde pequeño me ha fascinado el mundo
          digital, y con 16 años decidí dar el paso para convertir mi pasión en
          mi carrera.
        </p>
        <p class="dark:text-white text-md pb-3 text-pretty w-full">
          Actualmente, domino HTML, CSS, SASS y Javascript, y estoy ampliando
          mis conocimientos con TailwindCSS y Python.
        </p>
        <p class="dark:text-white text-md pb-3 text-pretty w-full">
          Mi objetivo es convertirme en un desarrollador completo capaz de crear
          aplicaciones web intuitivas, atractivas y eficientes.
        </p>
        <p class="dark:text-white text-md pb-3 text-pretty w-full">
          Soy una persona autodidacta, con gran capacidad de aprendizaje y una
          fuerte ética de trabajo. Me apasiona seguir aprendiendo y mejorando
          mis habilidades constantemente.
        </p>
      </div>
      <img
        src="/IMGS/Logo.jpg"
        alt="Perfil photo"
        class="m-auto p-2 rounded-full md:w-1/2"
      />
    </div>

    <section id="Contact" class="flex gap-4 align-middle items-center">
      <i
        class="fa-solid fa-address-book text-xl mt-5 mb-5 font-bold uppercase dark:text-white"
      ></i>
      <h3
        class="text-xl mt-5 mb-5 font-bold uppercase font-Raleway dark:text-white"
      >
        Contactame
      </h3>
    </section>

    <div class="grid grid-cols-2 w-1/2">
      <div>
        <ul class="mb-3 dark:text-white">Email</ul>
        <ul class="mb-3 dark:text-white">Twitter/X</ul>
        <ul class="mb-3 dark:text-white">Github</ul>
        <ul class="mb-3 dark:text-white">LinkedIn</ul>
      </div>

      <div class="flex flex-col">
        <a
          class="hover:text-TextCyan transition-colors duration-200 mb-3 dark:text-white"
          href=`${socialMedias.Gmail}`>juanp4blog@gmail.com</a
        >
        <a
          class="hover:text-TextCyan transition-colors duration-200 mb-3 dark:text-white"
          href=`${socialMedias.Twitter}`>JuanSinFiltroo</a
        >
        <a
          class="hover:text-TextCyan transition-colors duration-200 mb-3 dark:text-white"
          href=`${socialMedias.Github}`>@JuanP4blo</a
        >
        <a
          class="hover:text-TextCyan transition-colors duration-200 mb-3 dark:text-white"
          href=`${socialMedias.LinkedIn}`>in/JuanP4blo</a
        >
      </div>
    </div>
  </Container>
</Layout>
