
<section>
  <div class="font-Raleway flex gap-1 bg-[#E0DEDF] p-2 rounded-t-xl">
    <div class="font-Raleway w-[15px] h-[15px] bg-red-500 rounded-full"></div>
    <div class="font-Raleway w-[15px] h-[15px] bg-yellow-500 rounded-full"></div>
    <div class="font-Raleway w-[15px] h-[15px] bg-green-500 rounded-full"></div>
  </div>
  <div class="font-Raleway bg-BTNBG rounded-b-xl">
    <article class="font-Raleway  m-0 p-2">
      <h2 class="font-Raleway text-white before:content-['>'] pt-7">Juan.currentLocation</h2>
      <p class="font-Raleway text-TextCyan pl-3">"Heredia, Costa Rica"</p>
    </article>
    <article class="font-Raleway  m-0 p-2">
      <h2 class="font-Raleway text-white before:content-['>']">Juan.resume</h2>
      <p class="font-Raleway text-TextYellow pl-3">JuanP4bl0.pdf</p>
    </article>
    <article class="font-Raleway  m-0 p-2">
      <h2 class="font-Raleway text-white before:content-['>']">Juan.interest</h2>
      <p class="font-Raleway text-TextCyan pl-3">["Mirar peliculas", "Caminar", "Salir al aire libre", "Descubrir cosas nuevas"]</p>
    </article>
    <article class="font-Raleway  m-0 p-2">
      <h2 class="font-Raleway text-white before:content-['>']">Juan.skills</h2>
      <p class="font-Raleway text-TextCyan pl-3 pb-7">[“Javascript”, ”SASS”, ”Tailwind”, “Git”]</p>
    </article>
  </div>
</section>
